body {
  background: #ff5f6d;
  background: -webkit-linear-gradient(to right, #ffc371, #ff5f6d);
  background: linear-gradient(to right, #ffc371, #ff5f6d);

  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: 1s ease-out;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  border-radius: 1em;
  display: flex;
}

nav {
  background: rgba(255, 195, 113, 0.5);
  background: -webkit-linear-gradient(to right, rgba(255, 195, 113, 0.5), rgba(255, 95, 109, 0.5));
  background: linear-gradient(to right, rgba(255, 195, 113, 0.5), rgba(255, 95, 109, 0.5));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .container > div {
  align-items: center;
  display: inline-flex;
}

a {
  background-color: #ffffff7d;
  color: black;
  text-decoration: none;
  font-weight: 300;
  padding: 1em 0.5em;
  display: inline-flex;
}

.brand {
  background-color: #ffc371;
  padding: 0.5em 0.5em;
  background: -webkit-linear-gradient(to right, rgba(255, 195, 113, 0.5), rgba(255, 95, 109, 0.5));
  background: linear-gradient(to right, rgba(255, 195, 113, 0.5), rgba(255, 95, 109, 0.5));
  font-size: 1.5em;
  color: white;
  text-shadow: 0 1px 1px #444;
}

nav img {
  height: 1em;
  vertical-align: text-bottom;
}

#map {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  top: 0;
  z-index: 1;
}

button,
.button {
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid white;
  border-radius: 4em;
  margin: 0 0.5em;
  padding: 0.5em 1em;
  color: white;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5em;
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
}

.invert {
  background-color: #ffc371;
  background: linear-gradient(to right, rgba(255, 195, 113, 0.5), rgba(255, 95, 109, 0.5));
  font-weight: 400;
  color: black;
  border-color: #ffc371;
}

.invert svg {
  fill: black;
}

.small {
  padding: 0.25em;
  margin: 0;
  line-height: 1;
}

button svg,
.button svg {
  height: 18px;
  width: 18px;
  fill: white;
  vertical-align: top;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 0.5em 0;
  z-index: 2;
  width: 100%;
}

#aaa {
  position: absolute;
  bottom: 0;
  z-index: 4;
  height: 200px;
  width: 100%;
}

#gpsStatus {
  position: absolute;
  top: 4em;
  z-index: 2;
  padding: 0.5em 1em;
  background: white;
  right: 0.5em;
  font-size: 0.8em;
}

.leaflet-popup-content {
  text-align: center;
  font-size: 1rem;
}
.leaflet-popup-content .link {
  font-size: 14px;
  font-weight: normal;
  padding: 0.5rem 0 0 0;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.leaflet-control-layers {
  visibility: hidden;
}

.tile-toggle {
  position: absolute;
  bottom: 50px;
  left: 5px;
  z-index: 5;
  border-radius: 8px;
  padding: 0;
}
.tile-toggle img {
  border-radius: 8;
  width: 80px;
  height: 80px;
}

.link .text {
  background: #ff5f6d;
  background: -webkit-linear-gradient(to left, #ff9800, #ff5f6d);
  background: linear-gradient(to left, #ff9800, #ff5f6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #f29285;
  margin: 0 0.25em;
}

.link .emoji {
  font-size: 1.5rem;
}

.hidden {
  display: none !important;
}

/* features de ouf */
.no-gps [data-gps],
.no-share [data-share],
.centered [data-centered] {
  display: none;
}
[data-radius="10000"] [data-10000],
[data-radius="100000"] [data-100000],
[data-map="0"] [data-map="0"],
[data-map="1"] [data-map="1"] {
  display: none;
}

.gps-waiting {
  filter: grayscale(10%) brightness(20%);
  transition: 0.3s ease-out;
}

#rgpd {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  font-size: 0.8em;
  text-align: left;
  border-radius: 1em;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0.5em;
  width: 370px;
  left: calc(50% - 370px / 2);
  position: fixed;
  bottom: 0;
  z-index: 2;
}

@media (max-width: 400px) {
  .hidden-if-mobile {
    display: none !important;
  }

  #rgpd {
    width: 225px;
    left: calc(50% - 225px / 2);
  }
}
